<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sias.system.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.sias.commons.model.SysRole">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,code,
        create_time,update_time,remark
    </sql>
    <delete id="removeByIds">
        delete from sys_role where id in
        <foreach item="id" collection="ids" open="(" separator=","
                 close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectByUserId" resultType="com.sias.commons.model.SysRole">
        SELECT *
        from sys_role
        WHERE id in (SELECT role_id FROM sys_user_role WHERE user_id = #{userId})
    </select>

    <select id="selectByPrimaryKey" resultType="com.sias.commons.model.SysRole">
        SELECT *
        from sys_role
        WHERE id = #{id}
    </select>
    <select id="page" resultType="com.sias.commons.model.SysRole" parameterType="com.sias.system.VM.RoleSelectRequestVm">
        select
        <include refid="Base_Column_List"/>
        from sys_role  <if test="name!=null">
        where
        name like "%" #{name} "%"
    </if>
    </select>
    <insert id="insertSelective">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="code != null">
                #{code},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update sys_role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
