<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sias.admin.mapper.CourseclassStuMapper">

    <resultMap id="BaseResultMap" type="com.sias.admin.domain.CourseclassStu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="courseclassId" column="courseclass_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,courseclass_id,username
    </sql>
    <insert id="addStuToClass">
        insert into courseclass_stu(courseclass_id,username) values (#{classId},#{username})
    </insert>
    <insert id="addStudents">
        insert into courseclass_stu(courseclass_id,username) values
        <foreach collection="usernames" item="username" separator=",">
            (#{id},#{username})
        </foreach>
    </insert>
    <delete id="deleteByUsernameAndClassId">
        delete from courseclass_stu where courseclass_id = #{classId} and username like '%' #{username} '%'
    </delete>
    <select id="selectByCourseClassId" resultType="com.sias.admin.domain.CourseclassStu">
        select * from courseclass_stu where courseclass_id = #{id}
    </select>
    <select id="selectStudentsByClassId" resultType="com.sias.commons.model.SysUser">
        select
        sys_user.id
        ,sys_user.username,
        email,phone_number,create_time,
        remark,sex,
        birth_day,real_name
        from courseclass_stu,sys_user where courseclass_stu.username=sys_user.username and courseclass_id=#{classId}
        <if test="username !=null">
            and sys_user.username like "%" #{username} "%"
        </if>
        <if test="realName !=null">
            and real_name like "%" #{realName} "%"
        </if>
    </select>
    <select id="selectByUsername" resultType="com.sias.admin.domain.CourseclassStu">
        select <include refid="Base_Column_List"/> from courseclass_stu where  username like '%' #{username} '%'
    </select>

    <select id="pageSelect" resultType="com.sias.admin.domain.CourseclassStu">
        select <include refid="Base_Column_List" /> from courseclass_stu
        <where>
            deleted=0
            <if test="gradeId != null ">
                and   courseclass_id= #{gradeId}
            </if>
            <if test="idcard != null ">
                and   username like '%' #{idcard} '%'
            </if>
        </where>
    </select>
    <select id="pageSelectByNotCompleted" resultType="com.sias.admin.domain.CourseclassStu">
        select <include refid="Base_Column_List" /> from courseclass_stu
        where
        courseclass_id= #{gradeId} and
        username not in
        <foreach item="id" collection="ids" open="(" separator=","
                 close=")">
            #{id}
        </foreach>
    </select>

</mapper>
