<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sias.admin.mapper.SectionKnowsMapper">

    <resultMap id="BaseResultMap" type="com.sias.admin.domain.SectionKnows">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BIT"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,parent_id,
        remark,status,create_time,
        update_time,deleted,order_num,subject_id
    </sql>
    <select id="list" resultType="com.sias.admin.domain.SectionKnows"
            parameterType="com.sias.admin.vm.sectionknows.SelectSectionKnowsVM">
        select
        <include refid="Base_Column_List"/>
        from section_knows where deleted = 0
        <if test="subjectId!=null">
            and subject_id = #{subjectId}
        </if>
        <if test="parentIds!=null">
            and parent_id in
            <foreach collection="parentIds" item="parent_id" open="(" separator="," close=")">
                #{parent_id}
            </foreach>
        </if>
    </select>
    <select id="selectByPrimaryKey" resultType="com.sias.admin.domain.SectionKnows">
        select
        <include refid="Base_Column_List"/>
        from section_knows where id = #{id}
    </select>
    <select id="selectByParentId" resultType="com.sias.admin.domain.SectionKnows">
        select
        <include refid="Base_Column_List"/>
        from section_knows where parent_id = #{parentId}
    </select>
    <delete id="deleteByPrimaryKey">
        delete
        from section_knows
        where id = #{id}
    </delete>
</mapper>
